body {
    line-height: 1.7em;
    background: 	#b3b3b3;
    font-family: 'Lato';
}

.menu-text {
    color: 	#fcfcfc;
    font-size: 20px;
    font-family: 'Anton';
    
}

.menu-text-dropdown {
    color: 	#fcfcfc;
    font-size: 20px;
    font-family: 'Anton';
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.home-menu {
    padding: 0.5em;
    text-align: left;
    background: #17192C;
    float: left;
}

.pure-menu-list {
    width: 100% !important;
    float: left;
}

.pure-menu-children {
    background-color: #17192C !important;
    padding-top: 14px !important;
    margin-left: -10px !important;
    width: 162px !important;
}

.pure-menu-has-children {
    background: #17192C;
    float: right;
    background-color: #17192C;
}

.menu-text-padding {
    padding-left: 20px !important;
}

.pure-menu-horizontal {
    height: 12%;
}

.dropdown:hover {
    background-color: #353a64;
    cursor: pointer;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

.meme {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

body.meme-mode * {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

body.meme-mode .pure-menu-children {
    width: 188px !important;
}

body.meme-mode {
    background-image: url("henry.png");
    cursor: url("../ryan.png"), default;
}

.pure-g > div {
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 10px;
    width:100%;
}

.item-50 {
    width: 50%;
    height: auto;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius:5px;
    border:2px solid #17192C;
    text-align: center;
    flex-grow: 1;
}

.item-25 {
    width: 25%;
    height: auto;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius:5px;
    border: 2px solid #17192C;
    text-align: center;
    flex-grow: 1;
}

.button-autonomous {
    color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #DA5556 !important;
}

#rfidString {
    width: 300px;
}

#rfidInt {
    width: 60px;
}